@model CreateProductModel
@Html.BlockQuote(true, "/Mall/Product/List")

@section Scripts{
    <script type="text/javascript">
        $(function () {
            //新增品牌按钮点击事件
            $("#add-brand-btn").click(function () {
                var brand = $("#BrandName").val();
                if (!brand) {
                    toastr.warning("请输入品牌", "操作提示!");
                    return false;
                }
                show_loading_bar(70);
                $.post("/Mall/Brand/Save", { Name: brand }, function (resp) {
                    show_loading_bar({
                        pct: 100,
                        finish: function () {
                            if (resp.isSuccess) {
                                $("#BrandName").val("");
                                var $block = $("#brand-group .form-block").first();
                                var maxCount = $block.find("input[type='radio']").length;
                                $("#brand-group .form-block").each(function () {
                                    if ($(this).find("input[type='radio']").length < maxCount) {
                                        $block = $(this);
                                        return false;  //跳出循环
                                    }
                                })
                                //新增品牌页面元素
                                $block.append('<lable><div class="cbr-replaced cbr-radio">' +
                                    '<div class="cbr-input"><input type="radio" value="' + resp.id + '" class="cbr cbr-done"></div>' +
                                    '<div class="cbr-state"><span></span></div>' +
                                    '</div>' + brand + '</lable><br>');
                            }
                            else {
                                toastr.error(resp.message, "操作错误!");
                            }
                        }
                    });
                });
            });
            //删除品牌按钮点击事件
            $("#del-brand-btn").click(function () {
                var delIds = [];
                var $checked = $("#brand-group .cbr-checked");
                if ($checked.length === 0) {
                    toastr.warning("请选择需要删除的品牌", "操作提示!");
                    return false;
                }
                show_loading_bar(70);
                $.post("/Mall/Brand/Delete", { id: $checked.find("input[type='radio']").attr("value") }, function (resp) {
                    show_loading_bar({
                        pct: 100,
                        finish: function () {
                            if (resp.isSuccess) {
                                $checked.removeClass("cbr-checked");
                                $checked.addClass("cbr-disabled");
                            }
                            else {
                                toastr.error(resp.message, "操作错误!");
                            }
                        }
                    });
                })
            });

            //新增规格按钮点击事件
            $("#add-specification-btn").click(function () {
                var specification = $("#SpecificationName").val();
                if (!specification) {
                    toastr.warning("请输入规格", "操作提示!");
                    return false;
                }
                show_loading_bar(70);
                $.post("/Mall/Specification/Save", { Name: specification }, function (resp) {
                    show_loading_bar({
                        pct: 100,
                        finish: function () {
                            if (resp.isSuccess) {
                                $("#SpecificationName").val("");
                                var $group = $(".specification-group").last();

                                //新增品牌页面元素
                                $group.after('<div class="form-group specification-group" specification-id="' + resp.id + '" specification-name="' + specification + '">' +
                                    '<strong style="position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;display:block;margin-left: 16.7%;">' +
                                    specification +
                                    '<a href="javascript:void(0);" title="新增规格值"><span class="glyphicon glyphicon-plus-sign"></span></a></strong>' +
                                    '<div class="col-sm-2"></div><div class="col-sm-2"><div class="form-block"></div></div>' +
                                    '<div class="col-sm-2"></div><div class="col-sm-2"><div class="form-block"></div></div>' +
                                    '<div class="col-sm-2"></div><div class="col-sm-2"><div class="form-block"></div></div>' +
                                    '<div class="col-sm-2"></div><div class="col-sm-2"><div class="form-block"></div></div>' +
                                    '<div class="col-sm-2"></div><div class="col-sm-2"><div class="form-block"></div></div>' + '</div>');
                            }
                            else {
                                toastr.error(resp.message, "操作错误!");
                            }
                        }
                    });
                });
            });
            //删除品牌按钮点击事件
            $("#del-brand-btn").click(function () {
                var delIds = [];
                var $checked = $("#brand-group .cbr-checked");
                if ($checked.length === 0) {
                    toastr.warning("请选择需要删除的品牌", "操作提示!");
                    return false;
                }
                show_loading_bar(70);
                $.post("/Mall/Brand/Delete", { id: $checked.find("input[type='radio']").attr("value") }, function (resp) {
                    show_loading_bar({
                        pct: 100,
                        finish: function () {
                            if (resp.isSuccess) {
                                $checked.removeClass("cbr-checked");
                                $checked.addClass("cbr-disabled");
                            }
                            else {
                                toastr.error(resp.message, "操作错误!");
                            }
                        }
                    });
                })
            });

            //新增规格值点击按钮事件
            var specificationId = 0, $specification;
            $(document).on("click", ".specification-group .glyphicon-plus-sign", function () {
                $specification = $(this).parent().parent().parent("div.specification-group");
                specificationId = $specification.attr("specification-id");
                $("#add-value-modal #SpecificationValue").val("");
                $('#add-value-modal').modal('show', { backdrop: 'static' });
            });

            //新增规格值保存
            $("#add-value-modal .save-btn").click(function () {
                var data = {};
                data.SpecificationId = specificationId;
                data.Name = $("#add-value-modal #SpecificationValue").val();
                if (!data.Name) {
                    toastr.warning("请输入规格值", "操作提示!");
                    return false;
                }
                show_loading_bar(70);
                $.post("/Mall/Specification/SaveValue", { parameter: data }, function (resp) {
                    show_loading_bar({
                        pct: 100,
                        finish: function () {
                            if (resp.isSuccess) {
                                $('#add-value-modal').modal("hide");
                                var $block = $specification.find(".form-block").first();
                                var maxCount = $block.find("input[type='checkbox']").length;
                                $specification.find(".form-block").each(function () {
                                    if ($(this).find("input[type='checkbox']").length < maxCount) {
                                        $block = $(this);
                                        return false;  //跳出循环
                                    }
                                })
                                $block.append('<lable><div class="cbr-replaced">' +
                                    '<div class="cbr-input"><input type="checkbox" name="' + data.Name + '" value="' + resp.id + '" class="cbr cbr-done"></div>' +
                                    '<div class="cbr-state"><span></span></div>' +
                                    '</div> ' + data.Name + '</lable><br>');
                            }
                            else {
                                toastr.error(resp.message, "操作错误!");
                            }
                        }
                    });
                });
            });

            //规格值点击事件
            $(document).on("click", ".cbr-replaced", function () {
                var specs = [];
                var totalRow = 1;
                //选中规格和值
                $(".specification-group").each(function () {
                    var $this = $(this);
                    var $values = $this.find(".cbr-checked");
                    if ($values.length > 0) {
                        var values = [];
                        $values.each(function () {
                            values.push({
                                name: $(this).find("input[type='checkbox']").attr("name"),
                                id: $(this).find("input[type='checkbox']").attr("value")
                            });
                        });
                        specs.push({
                            id: $this.attr("specification-id"),
                            name: $this.attr("specification-name"),
                            values: values
                        });
                        totalRow *= values.length;
                    }
                });
                //组装表格Html
                var html = "<thead><tr>";
                for (var i = 0; i < specs.length; i++) {
                    html += "<th>" + specs[i].name + "</th>";
                }
                html += "<th>条码</th><th>采购价</th><th>市场价</th><th>销售价</th><th>图片</th></tr></thead><tbody>"
                for (var i = 1; i <= totalRow; i++) {
                    var specificationIdsStr = "";
                    var skuName = "";
                    var tdHtml = "";
                    var tmpTotalRow = totalRow;
                    for (var j = 0; j < specs.length; j++) {
                        if (specs[j].values.length === 1) {
                            if (i === 1) {
                                tdHtml += "<td rowspan='" + totalRow + "'>" + specs[j].values[0].name + "</td>";
                                specs[j].usedValueId = specs[j].values[0].id;
                                specs[j].usedValueName = specs[j].values[0].name;
                            }
                        } else {
                            var rowCount = tmpTotalRow / specs[j].values.length;
                            if ((i - 1) % rowCount === 0) {
                                var index = (i - 1) / rowCount % specs[j].values.length;
                                tdHtml += "<td rowspan='" + rowCount + "'>" + specs[j].values[index].name + "</td>";
                                specs[j].usedValueId = specs[j].values[index].id;
                                specs[j].usedValueName = specs[j].values[index].name;
                            }

                        }
                        tmpTotalRow = tmpTotalRow / specs[j].values.length;
                        //记录规格和规格值ID字符串（“规格1ID，规格1值ID|规格2ID，规格2值ID”）
                        specificationIdsStr += (specificationIdsStr ? "|" : "") + specs[j].id + "," + specs[j].usedValueId;
                        //记录SkuName（“规格值1，规格值2”）
                        skuName += skuName ? " " + specs[j].usedValueName : specs[j].usedValueName;
                    }
                    tdHtml += "<td><input type='text' class='form-control barcode'></td>";
                    tdHtml += "<td><input type='number' class='form-control purchase-price'></td>";
                    tdHtml += "<td><input type='number' class='form-control market-price'></td>";
                    tdHtml += "<td><input type='number' class='form-control sale-price'></td>";
                    tdHtml += "<td title='点击设置sku图片' style='text-align: center;vertical-align: middle;padding:0px;'><a href='javascript:void(0);' data-imgId='' class='select-sku-img'><img src='../../images/add.png' height='30' width='30'  class='sku-picture'/></a></td>";
                    html += "<tr class='sku-tr' sku-name='" + skuName + "' value-ids='" + specificationIdsStr + "'>" + tdHtml + "</tr>";
                }
                html += "</tbody>";
                $("#specification-table").html(html);
            });

            //TODO:处理商品图片和sku图片
            var $selectSkuImg;
            $(document).on("click", ".select-sku-img", function () {
                $selectSkuImg = $(this);
                $("#flies-modal").modal("show");
                $.ajax({
                      url: "/Common/File/FileModal",
                      success: function (response) {
                          $('#flies-modal .modal-body-files').html(response);
                      }
                });
                //选择模态框图片图片
                $("#files-save").click(function () {
                    var imgId = $("#file-modal-List").find(":checkbox:checked").val();
                    var imgUrl = $("#file-modal-List").find(":checkbox:checked").attr("data-url");
                    $selectSkuImg.attr("data-imgId", imgId);
                    $selectSkuImg.find("img").attr("src", imgUrl);
                    $selectSkuImg.find("img").attr("height", "50");
                    $selectSkuImg.find("img").attr("width", "50");
                    $("#flies-modal").modal("hide");
                });
            });
            
            });

            //保存商品
            
        })
    </script>
}

<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom: 0px;">

        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Name">商品名称</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="Name" name="Name">
                </div>

                <label class="col-sm-2 control-label" for="SubTitle">副标题</label>

                <div class="col-sm-4">
                    <textarea class="form-control" id="SubTitle" name="SubTitle"></textarea>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <div class="col-sm-2 control-label">商品主图</div>
                <div class="col-sm-10">
                    <a href="javascript:void(0);" style="display: block; width:100px;height:100px;border: 2px dotted #d9dadc;text-align: center;vertical-align: middle;line-height:100px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group" id="brand-group">
                <label class="col-sm-2 control-label">品牌</label>
                @{
            var index = 0;
            var line = Model.Brands.Count / 5;
            for (int i = 0; i < 5; i++)
            {
                <div class="col-sm-2">
                    <div class="form-block">
                        @{

                    var count = Model.Brands.Count % 5 > i ? line + 1 : line;
                    for (int j = index; j < index + count; j++)
                    {
                        <lable>
                            <div class="cbr-replaced cbr-radio">
                                <div class="cbr-input"><input type="radio" class="cbr cbr-done" value="@Model.Brands[j].Id"></div>
                                <div class="cbr-state"><span></span></div>
                            </div>
                            @Model.Brands[j].Name
                        </lable>
                        <br>
            }
            index += count;
                        }
                    </div>
                </div>
    }
                }

            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="BrandName" name="BrandName" style="width:20%;float: left;height: 24px;margin-right:10px;">
                    <button id="add-brand-btn" type="button" class="btn btn-success btn-sm btn-icon">新增品牌</button>
                    <button id="del-brand-btn" type="button" class="btn btn-danger btn-sm btn-icon">删除品牌</button>
                </div>
            </div>


            <div class="form-group-separator"></div>

            <div class="form-group" id="tag-group">
                <label class="col-sm-2 control-label">标签</label>
                @{
            var tagIndex = 0;
            var tagLine = Model.Tags.Count / 5;
            for (int i = 0; i < 5; i++)
            {
                <div class="col-sm-2">
                    <div class="form-block">
                        @{

                    var count = Model.Tags.Count % 5 > i ? tagLine + 1 : tagLine;
                    for (int j = tagIndex; j < tagIndex + count; j++)
                    {
                        <lable>
                            <div class="cbr-replaced">
                                <div class="cbr-input"><input type="checkbox" class="cbr cbr-done" value="@Model.Tags[j].Id"></div>
                                <div class="cbr-state"><span></span></div>
                            </div>

                            <div class="label  @Model.Tags[j].Style"> @Model.Tags[j].Name</div>
                        </lable>
                        <br>
            }
            tagIndex += count;
                        }
                    </div>
                </div>
    }
                }

            </div>

            <div class="form-group-separator"></div>

            <div class="form-group" id="specification-group" style="margin-bottom: -20px;">
                <label class="col-sm-2 control-label">规格</label>
            </div>

            @foreach (var item in Model.Specifications)
    {
        <div class="form-group specification-group" specification-id="@item.Id" specification-name="@item.Name">
            <strong style="position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;display:block;margin-left: 16.7%;">
                @item.Name
                <a href="javascript:void(0);" title="新增规格值"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </strong>
            <div class="col-sm-2"></div>
            @{
        var valueIndex = 0;
        var valueLine = item.Values.Count / 5;
        for (int i = 0; i < 5; i++)
        {
            <div class="col-sm-2">
                <div class="form-block">
                    @{
                var count = item.Values.Count % 5 > i ? valueLine + 1 : valueLine;
                for (int j = valueIndex; j < valueIndex + count; j++)
                {
                    <lable>
                        <div class="cbr-replaced">
                            <div class="cbr-input"><input type="checkbox" class="cbr cbr-done" name="@item.Values[j].Name" value="@item.Values[j].Id"></div>
                            <div class="cbr-state"><span></span></div>
                        </div>
                        @item.Values[j].Name
                    </lable>
                    <br>
        }
        valueIndex += count;
                    }
                </div>
            </div>
}

            }
        </div>
}


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="SpecificationName" name="SpecificationName" style="width:20%;float: left;height: 24px;margin-right:10px;">
                    <button id="add-specification-btn" type="button" class="btn btn-success btn-sm btn-icon">新增规格</button>
                    @*<button id="del-brand-btn" type="button" class="btn btn-danger btn-sm btn-icon">删除规格</button>*@
                </div>
            </div>

            <div class="form-group" id="sku-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <table class="table table-bordered" id="specification-table" style="margin-bottom: 0px;"></table>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <div class="col-sm-2 control-label">商品辅图</div>
                <div class="col-sm-10">
                    <a href="javascript:void(0);" style="display: block; width:100px;height:100px;border: 2px dotted #d9dadc;text-align: center;vertical-align: middle;line-height:100px;">
                        <img style="width: 96px;height: 96px;margin-bottom: 6px;" src="https://res.91ysl.com/7b17a76753b44f9b86e4cc21922c82ab.jpg?x-oss-process=image/resize,m_lfit,h_145,w_80" />
                        
                        <span class="glyphicon glyphicon-remove del-sku-img" style="float: right;margin-right: -7px;margin-top: -111px;color: #cc3f44"></span>
                        @*<span class="glyphicon glyphicon-plus"></span>*@
                    </a>
                </div>
            </div>

            <div class="form-group-separator"></div>

            @* 保存按钮 *@
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button id="save-btn" type="button" class="btn btn-success">保存商品</button>
                </div>
            </div>
        </form>
    </div>
</div>

@* 新增规格值模态框 *@
<div class="modal fade" id="add-value-modal" data-backdrop="static" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">新增规格值</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="SpecificationValue">规格值</label>
                            <input class="form-control" id="SpecificationValue" name="SpecificationValue" type="text" value="">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary save-btn">保存</button>
            </div>
        </div>
    </div>
</div>

@* 编辑图片模态框 *@
<div class="modal fade" id="flies-modal" data-backdrop="static">
    <div class="modal-dialog" id="files-modal-test" style="width:800px;">
        <div class="modal-content" style="padding:25px;">

            <div class="modal-header">
                <h4 class="modal-title">
                    选择素材
                </h4>
            </div>
            <div class="modal-body-files">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="files-save">保存</button>
            </div>
        </div>
    </div>
</div>