@model UserResult
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c=>c.Name, "用户名", new { @class= "control-label" })
            @Html.TextBoxFor(c => c.Name, "", new { @class= "form-control" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c => c.Name, "用户名", new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Name, "", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c => c.Name, "用户名", new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Name, "", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c => c.Name, "用户名", new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Name, "", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c => c.Name, "用户名", new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Name, "", new { @class = "form-control" })
        </div>
    </div>
</div>